<div class="pageTitle">Manage Analytics</div>

<div class="analytics-numbers">
    <mat-card>
        <mat-card-header>
            <mat-card-title>85</mat-card-title>
            <mat-card-subtitle>Scheduled Visits</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>120</mat-card-title>
            <mat-card-subtitle>This Year</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>190</mat-card-title>
            <mat-card-subtitle>One Year</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>784</mat-card-title>
            <mat-card-subtitle>Visits YTD</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<div class="analytics-graphs">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Pie Chart</mat-card-title>
            <mat-card-subtitle>shows number of visits by month</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Global Map</mat-card-title>
            <mat-card-subtitle>Shows where visitors are coming from</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Timeline adjustable graph</mat-card-title>
            <mat-card-subtitle>Adjusting this graph will automatically update the other two charts </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
