<div class="privacyact-container">
    <div class="privacyact-title" mat-dialog-title>
        Privacy Act Statement
    </div>
    <div class="privacyact-content" mat-dialog-content>
        <ul>
            <li>
                <p><strong>Authority:</strong> Executive Order 12333 “United States Intelligence Activities”, Intelligence 
                Community Direct (ICD) 704 “Personnel Security Standards and Procedure Governing Eligibility Access 
                to SCL”, DoD Manual 5105.21, Vol 2, “Sensitive Compartmented Information Administrative Security Manual: 
                Administration of Physical Security, Visitor Control, and Technical Security,“ Change 2, 2 November 2020; 
                and Executive 9397 Social Security Number authorized collection of this information.</p>
            </li>
            <li>
                <p><strong>Purpose:</strong> Collected Information is used to facilitate command visits by documenting purpose, 
                identifying office and persons visited; for passing clearance to access the facility, providing (visit) points of contact, 
                itinerary and person contact information.</p>
            </li>
            <li>
                <p><strong>Routine Use:</strong> Routine Uses of the information are consistent with the authorized collection in the Personnel 
                Vetting Records System, DUSDI 02-DoD, available for review on the Depart of Defense Privacy and Civil Liberties Office 
                Web Page ( https://dpcld.defense.gov )</p>
            </li>
            <li>
                <p><strong>Disclosure:</strong> Disclosure of information is voluntary; however, failed to provide information may 
                have an impact on access to requested facility.</p>
            </li>
        </ul>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    </div>
</div>
