.welcome-cta {
    font-size: 1.2em;
    padding: 3em 0;
    width: 600px;
    margin: auto;
}

.alert-cta {
    border: 1px #990000 solid;
    background-color: #ffe6e6;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
}


.hero-content {
    margin: auto; 
    width: 400px; 
    padding: 1em 3em 2em 3em; 
}

.hero {
    padding: .3em 0 0 0;
}
