<div class="pageTitle">Manage Welcome Message</div>
<div class="card">
    <mat-card>
        <mat-card-content>
            <div class="confInstructions">
                <mat-hint>
                    This welcome message is displayed on {{location.location_name}}'s Submit Notification form.
                    Leave message blank to remove message from website.
                </mat-hint>
            </div>
            <form [formGroup]="welcomeMsgForm">
                <mat-form-field appearance="fill">
                    <mat-label *ngIf="!location.location_welcome_msg?.length">Click here to enter or edit welcome message for {{user.location_name}}</mat-label>
                    <mat-label *ngIf="location.location_welcome_msg?.length">Click on message below to edit welcome message for {{user.location_name}}</mat-label>
                    <textarea matInput formControlName="welcome_message" [(ngModel)]="location.location_welcome_msg"></textarea>
                </mat-form-field>
                <span style="color:red;" *ngIf="invalidForm"> {{ invalidForm }}</span>
                <div class="buttonAlignRight">
                    <button class="button-custom" mat-stroked-button (click)="btnCancel();">Cancel</button>
                    <button mat-button type="submit" (click)="submit()">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>